body {
    background: #234987;
    color: #ffffff;
}

a {
    color: yellow;
}

#port-nav ul {
    list-style: none;
    text-align: center;
}

#port-nav>ul>li {
    display: inline;
}

#port-nav>ul>li>a {
    padding: 20px;
    font-size: 16px;
    border-radius: 10px;
    background: green;
    text-decoration: none;
}

#port-nav>ul>li>a:hover {
    color: #ffffff;
    background: pink;
    color: #333;
    border-radius: 0px;
    transition: all .6s linear;
}